#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

#undef ZMK_POINTING_DEFAULT_SCRL_VAL
#define ZMK_POINTING_DEFAULT_SCRL_VAL 30
#undef ZMK_POINTING_DEFAULT_MOVE_VAL
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500
#define BASE 0
#define NUMB 1
#define ADD0 2
#define ADD1 3
#define ADD2 4
#define ADD3 5
#define ADD4 6
#define ADD5 7
#define ADD6 8
#define ADD7 9
#define ADD8 10
#define ADD9 11

&lt {
    tapping-term-ms = <250>; // Only turn on layer if the key is held for 0.25 seconds or longer.
};
&mt {
    tapping-term-ms = <250>; // Only turn modifier if the key is held for 0.25 seconds or longer.
};

/ {
    behaviors {
        td0: layer_toggle {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&to 0>, <&to 1>;
        };

        /* Right Stick: Tap = Left Click, Tap+Hold = Right Click */
        /* We use 'Hold-Tap' for this specific logic */
        joy_rt_th: right_tap_hold {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mkp>, <&mkp>;
        };

        /* Left Stick: 1 Tap = Middle, 2 Taps = Back, 3 Taps = Forward */
        joy_lt_td: left_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&mkp MCLK>, <&mkp MB4>, <&mkp MB5>;
        };
    };

// For future desired tapdance behaviors, you can add up to three hold-tap and/or layer-tap 
// behaviors so a single key can have up to six functions (three taps and three holds).

    macros {
        macro1: toggle_hdr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_wait_time 50>
                , <&macro_press &kp LALT>
                , <&macro_wait_time 50>
                , <&macro_tap &kp B>
                , <&macro_release &kp LGUI>
                , <&macro_release &kp LALT>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮    ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
      &kp HOME        &kp END          &kp C_PP      &kp C_VOL_UP   &kp C_VOL_DN /*|    |*/  &kp PG_UP      &kp PG_DN        &kp CAPS        &kp INS        &kp DEL    
      &kp Q            &kp W           &kp E             &kp R           &kp T   /*|    |*/  &kp Y            &kp U           &kp I           &kp O         &kp SEMI     
      &kp A            &kp S           &kp D             &kp F           &kp G   /*|    |*/  &kp H            &kp J           &kp K           &kp L         &kp P        
      &kp Z            &kp X           &kp C             &kp V           &kp B   /*|    |*/  &kp N            &kp M           &kp COMMA       &kp DOT       &kp FSLH
      &kp TAB        &mt LCTRL ESC     &kp LGUI     &mt LALT LC(BSPC) &lt 1 BSPC /*|    |*/ &mt LSHIFT SPACE  &kp SQT         &kp BSLH        &td0          &kp ENTER
// ╰───────────────┴───────────────┴───────────────┴───────────────┴───────────────╯    ╰───────────────┴───────────────┴───────────────┴───────────────┴───────────────╯
            >;
        };

        numbers_layer {
            label = "NUMB";
            bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮    ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
       &kp F1          &kp F2          &kp F3          &kp F4          &kp F5    /*|    |*/  &kp F6           &kp F7          &kp F8          &kp F9        &kp F10
       &bt BT_NXT      &macro1         &kp UP          &kp C_RW        &kp C_FF  /*|    |*/  &kp EQUAL        &kp N7          &kp N8          &kp N9        &kp RBKT       
       &bt BT_PRV      &kp LEFT        &kp DOWN     &kp RIGHT         &kp C_NEXT /*|    |*/  &kp MINUS        &kp N4          &kp N5          &kp N6        &kp LBKT 
      &bt BT_CLR   &kp C_AL_FILES  &kp C_AL_CALC &kp C_AL_TEXT_EDITOR &kp C_PREV /*|    |*/   &kp N0          &kp N1          &kp N2          &kp N3        &kp GRAVE   
       &trans          &trans          &trans          &trans          &trans    /*|    |*/   &trans          &none           &none           &trans        &trans     
// ╰───────────────┴───────────────┴───────────────┴───────────────┴───────────────╯    ╰───────────────┴───────────────┴───────────────┴───────────────┴───────────────╯
            >;
        };
      additional0 {
            status = "reserved";
        };
      additional1 {
            status = "reserved";
        };
      additional2 {
            status = "reserved";
        };
      additional3 {
            status = "reserved";
        };
      additional4 {
            status = "reserved";
        };
      additional5 {
            status = "reserved";
        };
      additional6 {
            status = "reserved";
        };
      additional7 {
            status = "reserved";
        };
      additional8 {
            status = "reserved";
        };
      additional9 {
            status = "reserved";
        };
    };
};
