#include "sofle.dtsi"

&kscan0 {
    col-gpios
        = <&pro_micro  8 GPIO_ACTIVE_HIGH>
        , <&pro_micro  7 GPIO_ACTIVE_HIGH>
        , <&pro_micro  6 GPIO_ACTIVE_HIGH>
        , <&pro_micro  5 GPIO_ACTIVE_HIGH>
        , <&pro_micro  4 GPIO_ACTIVE_HIGH>
        ;
};
/ {
    chosen {
      zmk,battery = &vbatt;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vddh";
    };
};

#&adc {
#    status = "okay";
#};
#
#/ {
#    joystick_listener {
#        compatible = "zmk,input-listener";
#        device = <&anin0>;
#    };
#};
#
#/ {
#    /* Left side button on P0.02 */
#    joystick_button_left: gpio_keys_left {
#        compatible = "gpio-keys";
#        joy_click_left: joy_click_left {
#            gpios = <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
#            label = "Left Joystick Click";
#        };
#    };
#    left_button_bind {
#        compatible = "zmk,input-behavior-listener";
#        device = <&joystick_button_left>;
#        layers = <0 1 2 3>;
#        bindings = <&joy_lt_td>; // Reference to the Tap Dance in keymap
#    };
#};
